@{
    ViewBag.Title = "EpMon";
}

@model EpMon.Web.ViewModels.EndpointTags
@using System.Globalization;
@using EpMon.Web.Models;


<div class="row">
    <div class="col-md-12">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        @foreach (var tag in Model.Tags)
        {
            var stage = tag;

            <div id="@stage">Loading '@tag' endpoints...</div>

            <script type="text/javascript">
                var rootDir = "@Url.Content("~/")";

                function loadEndpointData(tagName) {
                    $.ajax({
                        type: "GET",
                        url: rootDir + 'Home/EndpointsPartial?tagName=' + tagName,
                        success: function(result) {
                            $('#' + tagName).html(result);
                        }
                    });
                }

                loadEndpointData('@stage')

                setInterval(function() {
                    loadEndpointData('@stage') // this will run after every 60 seconds
                    },
                    60000);

            </script>
        }
    </div>

        </div>